/* basic css formatting, not too sure about what we'd like the game to look like yet*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap');

h1 {
  font-family: 'Nunito', sans-serif;
    font-size: 60px;
    margin: 10;
    display: flex;
    justify-content: space-between;
}

h2, body {
  font-family: Nunito;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;  
  padding: 5px;
  max-width: 600px;
  
}

h4{
  font-family: Nunito;
    font-size: 80px;
    margin: 0.5;
    justify-content: space-between;
}

h4{
  font-family: Nunito;
    font-size: 80px;
    margin: 5;
    justify-content: space-between;
}

.button, #button {
    background-color: #bbb;
    padding: 10px 22px;
    background: rgb(152, 184, 239);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #fff;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    border: none;
}

#button:hover , .button:hover {
    border: none;
    box-shadow: 0px 0px 1px #777;
}

#home {
  background-color: #bbb;
  padding: 10px 22px;
  background: rgb(152, 184, 239);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  color: #fff;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  border: none;
}

#home:hover {
  border: none;
  box-shadow: 0px 0px 1px #777;
   }
   input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  