/* basic css formatting, not too sure about what we'd like the game to look like yet*/

@font-face {
    font-family: 'Pixel Digivolve';
    src: url(fonts/Pixel\ Digivolve.otf);
}
h1 {
    font-family: Pixel Digivolve;
    font-size: 60px;
    margin: 10;
    display: flex;
    justify-content: space-between;
}

h2, body {
  font-family: Pixel Digivolve;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;  
  padding: 5px;
  max-width: 600px;
  
}

h4{
  font-family: Pixel Digivolve;
    font-size: 80px;
    margin: 5;
    justify-content: space-between;
}

h4{
  font-family: Pixel Digivolve;
    font-size: 80px;
    margin: 5;
    justify-content: space-between;
}

#button, .button {
    background-color: #bbb;
    padding: .5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #fff;
    font-family: Pixel Digivolve;
    font-size: 20px;
    text-decoration: none;
    border: none;
}

#button:hover , .button:hover {
    border: none;
    background: rgb(152, 184, 239);
    box-shadow: 0px 0px 1px #777;
}

#home {
    background-color: #bbb;
    padding: .5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #fff;
    font-family: Pixel Digivolve;
    font-size: 20px;
    text-decoration: none;
    border: none;
}

#home:hover {
    border: none;
    background: rgb(152, 184, 239);
    box-shadow: 0px 0px 1px #777;
   }
   input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  